# Секреты и настройки окружения
.env

# Логи Airflow (они огромные и не нужны в гите)
logs/

# Питон-мусор
__pycache__/
*.pyc
.venv/
env/
venv/

# Макбучные системные файлы
.DS_Store

# Если вдруг создашь базу данных локально
*.db
*.sqlite

data/*.csv